<?xml version="1.0"?>
<config>
    <modules>
        <PushON_CatalogUpload>
            <version>0.1.0</version>
        </PushON_CatalogUpload>
    </modules>
    <global>
        <helpers>
            <catalogupload>
                <class>PushON_CatalogUpload_Helper</class>
            </catalogupload>
        </helpers>
        <models>
            <catalogupload>
                <class>PushON_CatalogUpload_Model</class>
                <resourceModel>catalogupload_mysql4</resourceModel>
            </catalogupload>
        </models>
        <blocks>
            <catalogupload>
                <class>PushON_CatalogUpload_Block</class>
                <resourceModel>catalogupload_mysql4</resourceModel>
            </catalogupload>
        </blocks>
        <resources>
            <categoryattribute1424687387_setup>
                <setup>
                    <module>PushON_CatalogUpload</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryattribute1424687387_setup>
            <categoryattribute1424687387_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryattribute1424687387_write>
            <categoryattribute1424687387_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryattribute1424687387_read>
        </resources>
    </global>
</config> 